p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

body {
  margin: 0px;
  overflow: hidden;
}


text {
  font-family: sans-serif;
}

.tick text {
  font-size: 0.8em;
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB;
}

.axis-label {
  font-size: 1em;
  fill: #8E8883;
}

.title {
  font-size: 1.2em;
  fill: #635F5D;
}


#container2 {
  height: 100%;
  width: 100%;
  display: flex;
}

#y2010,#y2011,#y2012,#y2013,#y2014,#y2015,#y2016,#y2017,#y2018,#y2019 {
  width: 10%;
  background-color : pink
}



.tooltip {
     position: absolute;
     text-align: left;
     padding: .5rem;
     background: #FFFFFF;
     color: #313639;
     border: 1px solid #313639;
     border-radius: 8px;
     pointer-events: none;
     font-size: 0.5rem;
     opacity : 0.7;
}

.sum_thing {
  	 
     position: absolute;
     text-align: left;
     padding: .5rem;
     background: rgb(68,68,68);
  	 color: white;   
     border: 1px solid #313639;
     border-radius: 1px;
     pointer-events: none;
     font-size: 0.9rem;
     opacity:1;
  	 	
}



rect:hover {
  opacity: 0.6;
	stroke: 1; }